## <b> Importing Libraries

In [49]:
# Pandas for dataframe manipulation
import numpy as np
import pandas as pd
import seaborn as sea
import matplotlib.pyplot as plt

import time
import keras
from keras.models import Sequential
from keras.layers import Dense, concatenate
from keras.utils import np_utils
from IPython.display import SVG
from keras.optimizers import Adam
from keras.utils.vis_utils import model_to_dot
from keras.layers import Input, Embedding, Flatten, Dot, Dense
from keras.models import Model, load_model
from sklearn.pipeline import Pipeline
from sklearn.model_selection import cross_val_score,KFold
from sklearn.preprocessing import LabelEncoder
from keras.wrappers.scikit_learn import KerasClassifier

from IPython.display import SVG
from keras.utils.vis_utils import model_to_dot
from keras.utils import plot_model
import pydot

## <b> Loading Data

In [3]:
# Keeping the columns names to load it correctly on dataframe
ratings_title = ['user_id', 'movie_id', 'rating', 'date']

# Dataframe of rating data
ratings = pd.read_csv('ratings.dat', sep='::', header=None, names=ratings_title, engine = 'python')

## <b> Neural Net

#### Creating the Utility Matrix

We're creating a matrix full of nan values, that corresponds to not rated movies

In [4]:
# Looking for some information about data
users = len(ratings['user_id'].unique())
movies = len(ratings['movie_id'].unique())
matrix = users * movies
print(" Ratings shape = ", ratings.shape, "\n\n", 
      "Total of users = ", users, "\n\n", 
      "Total of movies = ", movies, "\n\n",
     "Size of the Matrix =", matrix)

 Ratings shape =  (1000209, 4)

 Total of users =  6040

 Total of movies =  3706

 Size of the Matrix = 22384240

In [5]:
# Matrix organization
index=list(ratings['user_id'].unique())
columns=list(ratings['movie_id'].unique())
index=sorted(index)
columns=sorted(columns)

In [6]:
# Creating the new dataframe (user-item rating matrix)
data = pd.pivot_table(data=ratings,values='rating',index='user_id',columns='movie_id').fillna(0)

In [7]:
# Looking the data
data.head()

movie_id,1,2,3,4,5,6,7,8,9,10,...,3943,3944,3945,3946,3947,3948,3949,3950,3951,3952
user_id,,,,,,,,,,,,,,,,,,,,,
1,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [58]:
X = ratings.drop('date', axis=1)
y = ratings['rating']

from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()
y  = labelencoder.fit_transform(y)
y_dummy  = np_utils.to_categorical(y)

In [53]:
# create model
model = Sequential()
model.add(Dense(8, input_dim=3, activation='relu'))
model.add(Dense(5, activation='softmax'))
#Compile model
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

In [54]:
estimator = KerasClassifier(build_fn=model, epochs=10, batch_size=128, verbose=0)

In [ ]:
estimator = KerasClassifier(build_fn=baseline_model, epochs=200, batch_size=5, verbose=0)

In [61]:
history = model.fit([X_train.user_id, X_train.movie_id],y_train,
                     validation_data =([X_test.user_id, X_test.movie_id],y_test),
                    batch_size=200, epochs=10,
                    validation_split=0.1,
                    shuffle=True)

plt.plot(history.history['mean_squared_error'])
plt.plot(history.history['mean_absolute_error'])
plt.plot(history.history['mean_absolute_percentage_error'])
plt.plot(history.history['cosine_proximity'])
model.save('model.h5')

ValueError: Error when checking model input: the list of Numpy arrays that you are passing to your model is not the size the model expected. Expected to see 1 array(s), but instead got the following list of 2 arrays: [array([[4728],
       [ 777],
       [1051],
       ...,
       [1457],
       [2857],
       [1699]]), array([[3948],
       [ 832],
       [2340],
       ...,
       [2102],
       [3932],
       [...