## <b> Importing Libraries

In [1]:
# Pandas for dataframe manipulation
import numpy as np
import pandas as pd
import seaborn as sea
import matplotlib.pyplot as plt
import time
from keras.models import Sequential
from keras.layers import Dense
from keras.utils import np_utils

Using TensorFlow backend.

## <b> Loading Data

In [2]:
# Keeping the columns names to load it correctly on dataframe
ratings_title = ['user_id', 'movie_id', 'rating', 'date']

# Dataframe of rating data
ratings = pd.read_csv('ratings.dat', sep='::', header=None, names=ratings_title, engine = 'python')

In [3]:
ratings.head()

   user_id  movie_id  rating       date
0        1      1193       5  978300760
1        1       661       3  978302109
2        1       914       3  978301968
3        1      3408       4  978300275
4        1      2355       5  978824291

In [4]:
classe = ratings['rating']
classe.head()

0    5
1    3
2    3
3    4
4    5
Name: rating, dtype: int64

In [10]:
previsores = ratings.drop('rating', axis = 1)
previsores = ratings.drop('date', axis = 1)

In [11]:
previsores.head()

   user_id  movie_id  rating
0        1      1193       5
1        1       661       3
2        1       914       3
3        1      3408       4
4        1      2355       5

In [12]:
previsores.shape

(1000209, 3)

In [13]:
from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()
classe = labelencoder.fit_transform(classe)
classe_dummy = np_utils.to_categorical(classe)

In [14]:
classe_dummy.shape

(1000209, 5)

In [21]:
from sklearn.model_selection import train_test_split
previsores_treinamento, previsores_teste, classe_treinamento, classe_teste = train_test_split(previsores, classe_dummy, 
                                                                                              test_size=0.70)

In [22]:
print(previsores_treinamento.shape, previsores_teste.shape)

(300062, 3) (700147, 3)

In [23]:
print(classe_treinamento.shape, classe_teste.shape)

(300062, 5) (700147, 5)

In [24]:
classificador = Sequential()
classificador.add(Dense(units = 3, activation = 'relu', input_dim = 3))
classificador.add(Dense(units = 10, activation = 'relu'))
classificador.add(Dense(units = 5, activation = 'softmax'))
classificador.compile(optimizer = 'adam', loss = 'categorical_crossentropy',
                      metrics = ['categorical_accuracy'])

In [25]:
classificador.fit(previsores_treinamento, classe_treinamento, batch_size = 10,
                  epochs = 10)

Epoch 1/10
300062/300062 [==============================] - 21s 70us/step - loss: 2.0394 - categorical_accuracy: 0.3431
Epoch 2/10
300062/300062 [==============================] - 21s 69us/step - loss: 1.4556 - categorical_accuracy: 0.3499
Epoch 3/10
300062/300062 [==============================] - 20s 68us/step - loss: 1.4572 - categorical_accuracy: 0.3499
Epoch 4/10
300062/300062 [==============================] - 20s 68us/step - loss: 1.4560 - categorical_accuracy: 0.3499
Epoch 5/10
300062/300062 [==============================] - 20s 68us/step - loss: 1.4556 - categorical_accuracy: 0.3499
Epoch 6/10
300062/300062 [==============================] - 20s 68us/step - loss: 1.4555 - categorical_accuracy: 0.3499
Epoch 7/10
300062/300062 [==============================] - 22s 74us/step - loss: 1.4560 - categorical_accuracy: 0.3499
Epoch 8/10
300062/300062 [==============================] - 22s 73us/step - loss: 1.4556 - categorical_accuracy: 0.3499
Epoch 9/10
300062/300062 [==============================] - 27s 89us/step - loss: 1.4575 - categorical_accuracy: 0.3499
Epoch 10/10
300062/300062 [==============================] - 27s 91us/step - loss: 1.4568 - categorical_accuracy: 0.3499