In [1]:
# Importing tensorflow
import tensorflow as tf
# Importing some more libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error as MSE

In [2]:
# Keeping the columns names to load it correctly on dataframe
ratings_title = ['user_id', 'movie_id', 'rating', 'date']

# Dataframe of rating data
ratings = pd.read_csv('ratings.dat', sep='::', header=None, names=ratings_title, engine = 'python')

In [7]:
ratings = ratings.drop('date', axis=1)

KeyError: "['date'] not found in axis"

In [8]:
ratings.head()

   user_id  movie_id  rating
0        1      1193       5
1        1       661       3
2        1       914       3
3        1      3408       4
4        1      2355       5

In [10]:
# Lets pivot the data to get it at a user level
ratings_pivot = pd.pivot_table(ratings, values='rating',index='user_id',columns='movie_id').fillna(0)

In [11]:
ratings_pivot.head()

movie_id,1,2,3,4,5,6,7,8,9,10,...,3943,3944,3945,3946,3947,3948,3949,3950,3951,3952
user_id,,,,,,,,,,,,,,,,,,,,,
1,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:
ratings_pivot.shape

(6040, 3706)

In [13]:
# creating train and test sets
X_train, X_test = train_test_split(ratings_pivot, train_size=0.8)

In [14]:
print(X_train.shape, X_test.shape)

(4832, 3706) (1208, 3706)

In [50]:
model = tf.keras.models.Sequential()
model.add(tf.keras.layers.Dense(100, activation=tf.nn.relu))
model.add(tf.keras.layers.Dense(100, activation=tf.nn.relu))
model.add(tf.keras.layers.Dense(1, activation=tf.nn.relu))

In [51]:
model.compile(optimizer="adam", loss="mean_squared_error")